version: "3.9"

services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - loki
      - tempo

  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:2.9.0
    container_name: promtail
    volumes:
      # Promtail config file
      - ./promtail-config.yml:/etc/promtail/promtail.yaml:ro

      # PM2 logs from the host machine
      - /root/.pm2/logs:/pm2_logs

    command: -config.file=/etc/promtail/promtail.yaml
    depends_on:
      - loki

  tempo:
    image: grafana/tempo:2.4.0
    container_name: tempo
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    command: ["-config.file=/etc/tempo.yaml"]
    ports:
      - "3200:3200"
      - "4317:4317"
      - "4318:4318"

volumes:
  grafana_data:
